@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of Users";
}

<br />
<h2 class="text-info text-center">List of All Users</h2>
<br />

<div>
    <div class="col-md-8 offset-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(m => m.FullName)</th>
                    <th>@Html.DisplayNameFor(m => m.UserName)</th>
                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(m => item.FullName)</td>
                        <td class="align-middle">@Html.DisplayFor(m => item.UserName)</td>
                        <td class="align-middle">@Html.DisplayFor(m => item.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
